@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --grey: #999;
  --lightgrey: #ddd;
  --success: #52b788;
}

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: #d52772;
  font-size: 16px;
  font-weight: 300px;
  color: white;
  text-transform: uppercase;
  padding: 17px 60px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #e9609b;
}

.btn-primary {
  padding: 10px;
  min-width: 220px;
}

.btn:hover {
  top: 2px;
  box-shadow: 0 4px #ffcf9f;
}
.btn:active {
  top: 6px;
  box-shadow: 0 0px #ffcf9f;
}

.onboard {
  background-color: #edeef7;
  padding: 20px;
  color: white;
  background-image: url("./chess/assets/Fade-In-Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  align-items: center;

  background: black;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

/* .chessDiv{
  -webkit-transform: scale(0.7);
   -moz-transform: scale(0.7);
   -o-transform: scale(0.7);
   transform: scale(0.7);
   -webkit-transform-origin:left top;
   -moz-transform-origin:left top;

   outline: 1px solid transparent;
} */

.small {
  font-size: 10px;
  color: var(--grey);
}

p {
  font-size: 20px;
  position: relative;
}
p .key {
  padding: 0 16px;
}
p .key:hover {
  cursor: pointer;
}

.copy,
.copied {
  transition: ease 0.3s;
  font-size: 20px;
  line-height: 30px;
}
.copy {
  color: var(--grey);
}
.copied {
  width: fit-content;
  color: var(--success);
}

.outer {
  padding: 5px;
  background-image: url("./chess/assets/Fade-In-Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.hide {
  opacity: 0;
}

input {
  font-size: 20px;
  width: 300px;
  padding: 10px 14px;
  border-radius: 8px;
  background-color: var(--lightgrey);
  border-style: none;
  margin-top: 30px;
}

.interaction-btns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.inviteScreen {
  background-image: url("./chess/assets/Fade-In-Background.svg");
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.inviteScreen h1 {
  margin-top: 0;
}

header a {
  text-decoration: none;
  color: inherit;
}

.nav-bar {
  height: 55px;
  background-image: linear-gradient(
    to right,
    rgb(68, 147, 216),
    rgb(255, 0, 111)
  );
}

.nav-items {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.nav-btn {
  width: 4.5em;
  height: 55px;
  background-color: transparent;
  color: white;
  border: 0;
  font-size: 1.4rem;
  margin-right: 15px;
}

.nav-btn:hover {
  background-color: rgb(244, 220, 241);
  color: black;
  transition: 400ms ease-out;
}

.nav-btn:focus {
  outline: 0;
}

.rules-overlay {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  transition: 0.5s ease-in;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
