:root {
    --glow-max: #00FF00;
    --glow-dim: #32CD32;
}


.microphone-wrapper{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
}


.microphone{
    scale: 100%;
    border-radius: 50%;
    padding: 10px;
    animation: blink 1s ease-in-out infinite alternate;
    -webkit-animation: blink 1s ease-in-out infinite alternate;
    -moz-animation: blink 1s ease-in-out infinite alternate;
}

@keyframes blink {
    from {
      border: 3px solid transparent;
    }
    to {
      border: 3px solid green;
    }
  }
  